.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainContainer {
  height: 100vh;
  display: flex;
  align-items: flex-end;

  position: relative;
  width: calc(100vw - 50px);

  margin: 0 auto;

  h1 {
    font-size: clamp(100px, 15vw, 15vw);
  }
}

.aboutFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 25px 48px 0;
  width: 100%;
  color: #080911;
}
